<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title> App landing</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/slicknav.css">
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<link rel="stylesheet" href="assets/css/hamburgers.min.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/nice-select.css">
	<link rel="stylesheet" href="assets/css/style.css">
	
	<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@font-face{
	font-family: "noto";
	src: url(./assets/fonts/NotoSansKR-Medium.otf);
}
div {font-family:"noto",noto}
p {font-family:"noto",noto}
h5, h1, h2, pre, h4, h3 {font-family:"noto",noto}
h2 {font-family:"noto",noto}


  table {
    width: 100%;
	border: none;
    /* border-collapse: collapse; */
  }
  th, td {
    /* border-bottom: 1px solid #444444;
    border-left: 1px solid #444444; */
    padding: 10px;
  }
  /* th:first-child, td:first-child {
    border-left: none;
  } */



  #sec_table{
	border-top: solid 2px;
	border-bottom: solid 2px;
	padding: 30Spx;
	text-align: center;
  }
  ::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 5px;
  display: none;
}
 
::-webkit-scrollbar-thumb {
  background: linear-gradient( #ba55d3, #64b3f4);
  border-radius: 5px;
}



</style>
</head>
<body>
	<!--? Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="preloader-circle"></div>
				<div class="preloader-img pere-text">
					<img src="assets/img/logo/loder.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader Start -->
	<header>
		<!-- Header Start -->
		<div class="header-area header-transparent">
			<div class="main-header ">
				<div class="header-bottom  header-sticky">
					<div class="container-fluid">
						<div class="row align-items-center">
							<!-- Logo -->
							<div class="col-xl-2 col-lg-2">
								<div class="logo">
									<a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
								</div>
							</div>
							<div class="col-xl-10 col-lg-10">
								<div class="menu-wrapper  d-flex align-items-center justify-content-end">
									<!-- Main-menu -->
									<div class="main-menu d-none d-lg-block">
										<nav>
											<ul id="navigation">                                                                                          
                                                <li class="active" ><a href="index.html">Home</a></li>
                                                <li><a href="features.html">서비스 소개</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="#">블로그</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html">전체</a></li>
                                                        <li><a href="blog_details.html">수행기</a></li>
                                                        <li><a href="elements.html">기술동향</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">의뢰 결과</a></li>
												<li><a href="contact.html">마이페이지</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-65">
                                        <a href="project_ request.html" class="border-btn">프로젝트 의뢰</a>
                                    </div>
                                    
								</div>
							</div> 
							<!-- Mobile Menu -->
							<div class="col-12">
								<div class="mobile_menu d-block d-lg-none"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header End -->
	</header>
	<main>
		<!--? slider Area Start-->
		<section class="slider-area slider-area2">
			<div class="slider-active">
				<!-- Single Slider -->
				<div class="single-slider slider-height2">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-xl-8 col-lg-11 col-md-12">
								<div class="hero__caption hero__caption2 text-center">
									<h1 data-animation="bounceIn" data-delay="0.2s">My Questions</h1>
								</div>
							</div>
						</div>
					</div>          
				</div>
			</div>
		</section>
		<!--? Start Sample Area -->
		<section class="sample-text-area">
			<div class="container box_1170">
				<h1 class="text-heading">My Questions</h1>
				<div id="first">
                    <div class="section-top-border">
                        <h3 class="mb-30">라벨링 과정에 대한??</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <blockquote class="generic-blockquote">
                                    “Recently, the US Federal government banned online casinos from operating in America by
                                    making it illegal to
                                    transfer money to them through any US bank or payment system. As a result of this law, most
                                    of the popular
                                    online casino networks such as Party Gaming and PlayTech left the United States. Overnight,
                                    online casino
                                    players found themselves being chased by the Federal government. But, after a fortnight, the
                                    online casino
                                    industry came up with a solution and new online casinos started taking root. These began to
                                    operate under a
                                    different business umbrella, and by doing that, rendered the transfer of money to and from
                                    them legal. A major
                                    part of this was enlisting electronic banking systems that would accept this new
                                    clarification and start doing
                                    business with me. Listed in this article are the electronic banking”
                                </blockquote>
                            </div>
                            <div class="col-lg-12">
                                <br>
                                <br>
                                <h5>질문에 대한 답변입니다.</h5>
                                <blockquote class="generic-blockquote">
                                    “Recently, the US Federal government banned online casinos from operating in America by
                                    making it illegal to
                                    transfer money to them through any US bank or payment system. As a result of this law, most
                                    of the popular
                                    online casino networks such as Party Gaming and PlayTech left the United States. Overnight,
                                    online casino
                                    players found themselves being chased by the Federal government. But, after a fortnight, the
                                    online casino
                                    industry came up with a solution and new online casinos started taking root. These began to
                                    operate under a
                                    different business umbrella, and by doing that, rendered the transfer of money to and from
                                    them legal. A major
                                    part of this was enlisting electronic banking systems that would accept this new
                                    clarification and start doing
                                    business with me. Listed in this article are the electronic banking”
                                </blockquote>
                            </div>
                        </div>
                    </div>
				</div>
				<br>
				<br>
				<br>
				<br>
				
			</div>
		</section>
		<br>
		<br>
		<br>
		<br>
		<!-- End Sample Area -->
		
								<!-- Want To work End -->

							</main>
							<footer>
								<div class="footer-wrappper section-bg" data-background="assets/img/gallery/footer-bg.png">
									<!-- Footer Start-->
									<div class="footer-area footer-padding">
										<div class="container">
											<div class="row justify-content-between">
												<div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
													<div class="single-footer-caption mb-50">
														<div class="single-footer-caption mb-30">
															<!-- logo -->
															<div class="footer-logo mb-25">
																<a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
															</div>
															<div class="footer-tittle">
																<div class="footer-pera">
																	<p>The automated process starts as soon as your clothes go into the machine.</p>
																</div>
															</div>
															<!-- social -->
															<div class="footer-social">
																<a href="#"><i class="fab fa-twitter"></i></a>
																<a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
																<a href="#"><i class="fab fa-pinterest-p"></i></a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
													<div class="single-footer-caption mb-50">
														<div class="footer-tittle">
															<h4>Our solutions</h4>
															<ul>
																<li><a href="#">Design & creatives</a></li>
																<li><a href="#">Telecommunication</a></li>
																<li><a href="#">Restaurant</a></li>
																<li><a href="#">Programing</a></li>
																<li><a href="#">Architecture</a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
													<div class="single-footer-caption mb-50">
														<div class="footer-tittle">
															<h4>Company</h4>
															<ul>
																<li><a href="#">Design & creatives</a></li>
																<li><a href="#">Telecommunication</a></li>
																<li><a href="#">Restaurant</a></li>
																<li><a href="#">Programing</a></li>
																<li><a href="#">Architecture</a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
													<div class="single-footer-caption mb-50">
														<div class="footer-tittle">
															<h4>Support</h4>
															<ul>
																<li><a href="#">Design & creatives</a></li>
																<li><a href="#">Telecommunication</a></li>
																<li><a href="#">Restaurant</a></li>
																<li><a href="#">Programing</a></li>
																<li><a href="#">Architecture</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- footer-bottom area -->
									<div class="footer-bottom-area">
										<div class="container">
											<div class="footer-border">
												<div class="row d-flex align-items-center">
													<div class="col-xl-12 ">
														<div class="footer-copy-right text-center">
															<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
																Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
																<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Footer End-->
									</div>
								</footer>
								<!-- Scroll Up -->
								<div id="back-top" >
									<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
								</div>
								<!-- JS here -->

								<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
								<!-- Jquery, Popper, Bootstrap -->
								<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
								<script src="./assets/js/popper.min.js"></script>
								<script src="./assets/js/bootstrap.min.js"></script>
								<!-- Jquery Mobile Menu -->
								<script src="./assets/js/jquery.slicknav.min.js"></script>

								<!-- Jquery Slick , Owl-Carousel Plugins -->
								<script src="./assets/js/owl.carousel.min.js"></script>
								<script src="./assets/js/slick.min.js"></script>
								<!-- One Page, Animated-HeadLin -->
								<script src="./assets/js/wow.min.js"></script>
								<script src="./assets/js/animated.headline.js"></script>
								<script src="./assets/js/jquery.magnific-popup.js"></script>

								<!-- Date Picker -->
								<script src="./assets/js/gijgo.min.js"></script>
								<!-- Nice-select, sticky -->
								<script src="./assets/js/jquery.nice-select.min.js"></script>
								<script src="./assets/js/jquery.sticky.js"></script>
								
								<!-- counter , waypoint,Hover Direction -->
								<script src="./assets/js/jquery.counterup.min.js"></script>
								<script src="./assets/js/waypoints.min.js"></script>
								<script src="./assets/js/jquery.countdown.min.js"></script>
								<script src="./assets/js/hover-direction-snake.min.js"></script>

								<!-- contact js -->
								<script src="./assets/js/contact.js"></script>
								<script src="./assets/js/jquery.form.js"></script>
								<script src="./assets/js/jquery.validate.min.js"></script>
								<script src="./assets/js/mail-script.js"></script>
								<script src="./assets/js/jquery.ajaxchimp.min.js"></script>
								
								<!-- Jquery Plugins, main Jquery -->	
								<script src="./assets/js/plugins.js"></script>
								<script src="./assets/js/main.js"></script>
								
							</body>
							</html>