<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title> App landing</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

   <!-- CSS here -->
   <link rel="stylesheet" href="assets/css/bootstrap.min.css">
   <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
   <link rel="stylesheet" href="assets/css/slicknav.css">
   <link rel="stylesheet" href="assets/css/animate.min.css">
   <link rel="stylesheet" href="assets/css/hamburgers.min.css">
   <link rel="stylesheet" href="assets/css/magnific-popup.css">
   <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
   <link rel="stylesheet" href="assets/css/themify-icons.css">
   <link rel="stylesheet" href="assets/css/slick.css">
   <link rel="stylesheet" href="assets/css/nice-select.css">
   <link rel="stylesheet" href="assets/css/style.css">
   <link rel="stylesheet" href="assets/css/testCheck.css">

   <style>

      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

      @font-face {
         font-family: "noto";
         src: url(./assets/fonts/NotoSansKR-Medium.otf);
      }

      

      div {
         font-family: "noto", noto
      }

      p {
         font-family: "noto", noto
      }

      h5 {
         font-family: "noto", noto
      }

      h2,
      h1,
      h3,
      pre {
         font-family: "noto", noto
      }

      .img {
         width: 7%;
         height: auto;
      }

      #next1,
      #next2 {
         width: 30px;
         height: 30px;
      }

      .img_space {
         width: 3%;
         height: 30px;
         display: inline-block;

      }
      input[type="radio"]{
         vertical-align: bottom;
      }
      span{
         margin-top: 4px;
         position: absolute;
         padding-left: 10px;
      }
      ::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 5px;
  display: none;
}
 
::-webkit-scrollbar-thumb {
  background: linear-gradient( #ba55d3, #64b3f4);
  border-radius: 5px;
}      
   </style>
</head>

<body>
   <form action="http://localhost:3700/pro_req" enctype="multipart/form-data" method="POST">
   <!--? Preloader Start -->
   <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
         <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
               <img src="assets/img/logo/loder.png" alt="">
            </div>
         </div>
      </div>
   </div>
   <!-- Preloader Start -->
   <header>
      <!-- Header Start -->
      <div class="header-area header-transparent">
         <div class="main-header ">
            <div class="header-bottom  header-sticky">
               <div class="container-fluid">
                  <div class="row align-items-center">
                     <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="main.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li class="active" ><a href="main.html">Home</a></li>
                                                <li><a href="service.html">서비스 소개</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="#">블로그</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html">전체</a></li>
                                                        <li><a href="blog_details.html">수행기</a></li>
                                                        <li><a href="technique.html">기술동향</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="leaderboard.html">의뢰 결과</a></li>
                                                <li><a href="mypage.html">마이페이지</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-65">
                                        <a href="project_ request.html" class="border-btn">프로젝트 의뢰</a>
                                    </div>
                                    
                                </div>
                            </div> 
                     <!-- Mobile Menu -->
                     <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Header End -->
   </header>
   <main>
      <!--? slider Area Start-->
      <section class="slider-area slider-area2">
         <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
               <div class="container">
                  <div class="row justify-content-center">
                     <div class="col-xl-8 col-lg-11 col-md-12">
                        <div class="hero__caption hero__caption2 text-center">
                           <h1 data-animation="bounceIn" data-delay="0.2s">프로젝트 의뢰</h1>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--? Start Sample Area -->
      <section class="sample-text-area">
         <div class="container box_1170">
            <div style="text-align: center; width: 100%; height: 100px;">
               <img class="img" src="assets/img/icon/KakaoTalk_20210930_110139027.png" alt="">
               <div class="img_space"> </div>
               <img class="img" id="next1" src="assets/img/icon/KakaoTalk_20210930_111644167.png" alt="">
               <div class="img_space"> </div>
               <img class="img" src="assets/img/icon/KakaoTalk_20210930_110139148.png" alt="">
               <div class="img_space"></div>
               <img class="img" id="next2" src="assets/img/icon/KakaoTalk_20210930_111644167.png" alt="">
               <div class="img_space"></div>
               <img class="img" src="assets/img/icon/KakaoTalk_20210930_110138923.png" alt="">
            </div>

            <div>
               <table
                  style="width:50%; margin-right: auto; margin-left: auto; table-layout: fixed; text-align: center;">
                  <th>
                     <h5><b>의뢰하기</b></h5>
                  </th>

                  <th>
                     <h5>대표이미지 라벨링</h5>
                  </th>

                  <th>
                     <h5>결과 확인</h5>
                  </th>
               </table>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3>의뢰하기</h3>
            <p class="sample-text">
               DAM IT에게 라벨링 의뢰하기 위한 작성 폼 입니다. 간단한 의뢰 정보와 객체 탐지 정보, 라벨링을 원하시는 영상을 첨부해주세요.
            </p>
            <form action="/pro_req" enctype="multipart/form-data" method="post">
               <a href="project_label.html">다음다음</a>
            </form>
            
         </div>
      </section>
      <!-- End Sample Area -->

      <!--? Start Align Area -->
      <div class="whole-wrap">
         <div class="container box_1170">




            <div class="section-top-border">
               <div class="row">
                  <div class="col-lg-8 col-md-8">

                     <form action="#">
                        <h3 class="mb-30">의뢰 정보</h3>
                        <div class="mt-10">
                           <input type="text" name="req_com" placeholder="회사명"
                              onfocus="this.placeholder = ''" onblur="this.placeholder = '회사명'" required
                              class="single-input">
                        </div>
                        <div class="mt-10">
                           <input type="text" name="req_depart" placeholder="부서명"
                              onfocus="this.placeholder = ''" onblur="this.placeholder = '부서명'" required
                              class="single-input">
                        </div>
                        <div class="mt-10">
                           <input type="text" name="req_name" placeholder="담당자"
                              onfocus="this.placeholder = ''" onblur="this.placeholder = '담당자'" required
                              class="single-input">
                        </div>
                        <div class="mt-10">
                           <input type="text" name="req_phone" placeholder="전화번호"
                              onfocus="this.placeholder = ''" onblur="this.placeholder = '전화번호'" required
                              class="single-input">
                        </div>
                        <div class="mt-10">
                           <input type="email" name="req_email" placeholder="이메일" onfocus="this.placeholder = ''"
                              onblur="this.placeholder = '이메일'" required class="single-input">
                        </div>


                        <div class="input-group-icon mt-10">
                           <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                           <div class="form-select" id="default-select">
                                                <select>
                                                   <option value=" 1">알게된 경로</option>
                              <option value="1">데이터 스토어</option>
                              <option value="1">네이버</option>
                              <option value="1">구글</option>
                              <option value="1">페이스북</option>
                              <option value="1">인스타그램</option>
                              <option value="1">보도자료</option>
                              <option value="1">기타</option>
                              </select>
                           </div>
                        </div>


                        <div class="mt-10">
                           <textarea class="single-textarea" placeholder="탐지를 원하는 객체 정보를 작성해주세요."
                              onfocus="this.placeholder = ''" onblur="this.placeholder = '탐지를 원하는 객체 정보를 작성해주세요.'"
                              required name="req_msg"></textarea>
                        </div>

                     </form>
                  </div>
                  <div class="col-lg-3 col-md-4 mt-sm-30">
                     <h3>객체 탐지 옵션</h3>

                     <div class="single-element-widget mt-30">
                        
                        
                        <p><input type="radio" name="data_info" value="Bounding_Box"><span>  Bounding Box</span></p>
                        
                        

                        <!-- <div class="switch-wrap d-flex justify-content-between">
                           
                           <div class="primary-radio">
                              <input type="checkbox" id="checkbox1" value="a">a
                              <input type="checkbox" id="checkbox1" value="b">b
                              <input type="checkbox" id="checkbox1" value="c">c
                              <label for="checkbox1"></label>
                           </div>

                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                           <p>Semantic Segmentation</p>
                           <div class="primary-radio">
                              <input type="checkbox" id="checkbox2">
                              <label for="checkbox2"></label>
                           </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                           <p>Bounding Box</p>
                           <div class="primary-radio">
                              <input type="checkbox" id="checkbox3">
                              <label for="checkbox3"></label>
                           </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                           <p>Polygon</p>
                           <div class="primary-radio">
                              <input type="checkbox" id="checkbox4">
                              <label for="checkbox4"></label>
                           </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                           <p>Polyline</p>
                           <div class="primary-radio">
                              <input type="checkbox" id="checkbox5">
                              <label for="checkbox5"></label>
                           </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                           <p>Keypoint</p>
                           <div class="primary-radio">
                              <input type="checkbox" id="checkbox6">
                              <label for="checkbox6"></label>
                           </div>
                        </div> -->
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End Align Area -->
      <!--? Start Button -->

      <section class="button-area">
         <div class="container box_1170 border-top-generic">
            <div class="button-group-area mt-10">
               <center>
                  
                     <!-- <form action="/uploadFileWithOriginalFilename" enctype="multipart/form-data" method="post">    -->
                     <form action="/pro_req" enctype="multipart/form-data" method="post">
                        <input type="file" name="attachment">
                        <br>
                        <br>

                        <input type="submit" class="genric-btn primary-border btn btn-primary" value="다음 단계로">
                     </form>
                        
                  
               </center>

               <br>
               <br>

            </div>


         </div>
      </section>

      <!-- <script>
         function uploadVideo() {

            $.ajax({
               type: "POST",
               url: "localhost:5000",
               data: {  },
               dataType: "JSON",
               success: function (data) {

                  
               }
            })

         };
      </script> -->

      <!-- End Button -->
      <!--? Want To work 01-->
      <section class="wantToWork-area ">
         <div class="container">
            <div class="wants-wrapper w-padding2 section-bg2" data-background="assets/img/gallery/section_bg02.png">
               <div class="row align-items-center justify-content-center">
                  <div class="col-xl-7 col-lg-9 col-md-8">
                     <div class="wantToWork-caption text-center">
                        <h2>Start finding your dream job</h2>
                        <p>The automated process starts as soon as your clothes go into the machine. The outcome
                           is gleaming clothes placeholder text commonly used.</p>
                        <a href="#" class="btn3 wantToWork-btn">Browse Job</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Want To work End -->

   </main>
   <footer>
      <div class="footer-wrappper section-bg" data-background="assets/img/gallery/footer-bg.png">
         <!-- Footer Start-->
         <div class="footer-area footer-padding">
            <div class="container">
               <div class="row justify-content-between">
                  <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                     <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                           <!-- logo -->
                           <div class="footer-logo mb-25">
                              <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                           </div>
                           <div class="footer-tittle">
                              <div class="footer-pera">
                                 <p>The automated process starts as soon as your clothes go into the machine.
                                 </p>
                              </div>
                           </div>
                           <!-- social -->
                           <div class="footer-social">
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-pinterest-p"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                     <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                           <h4>Our solutions</h4>
                           <ul>
                              <li><a href="#">Design & creatives</a></li>
                              <li><a href="#">Telecommunication</a></li>
                              <li><a href="#">Restaurant</a></li>
                              <li><a href="#">Programing</a></li>
                              <li><a href="#">Architecture</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                     <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                           <h4>Company</h4>
                           <ul>
                              <li><a href="#">Design & creatives</a></li>
                              <li><a href="#">Telecommunication</a></li>
                              <li><a href="#">Restaurant</a></li>
                              <li><a href="#">Programing</a></li>
                              <li><a href="#">Architecture</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                     <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                           <h4>Support</h4>
                           <ul>
                              <li><a href="#">Design & creatives</a></li>
                              <li><a href="#">Telecommunication</a></li>
                              <li><a href="#">Restaurant</a></li>
                              <li><a href="#">Programing</a></li>
                              <li><a href="#">Architecture</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- footer-bottom area -->
         <div class="footer-bottom-area">
            <div class="container">
               <div class="footer-border">
                  <div class="row d-flex align-items-center">
                     <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                           <p>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;
                              <script>document.write(new Date().getFullYear());</script> All rights reserved |
                              This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                 href="https://colorlib.com" target="_blank">Colorlib</a>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Footer End-->
      </div>
   </footer>
   <!-- Scroll Up -->
   <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
   </div>
   <!-- JS here -->

   <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
   <!-- Jquery, Popper, Bootstrap -->
   <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
   <script src="./assets/js/popper.min.js"></script>
   <script src="./assets/js/bootstrap.min.js"></script>
   <!-- Jquery Mobile Menu -->
   <script src="./assets/js/jquery.slicknav.min.js"></script>

   <!-- Jquery Slick , Owl-Carousel Plugins -->
   <script src="./assets/js/owl.carousel.min.js"></script>
   <script src="./assets/js/slick.min.js"></script>
   <!-- One Page, Animated-HeadLin -->
   <script src="./assets/js/wow.min.js"></script>
   <script src="./assets/js/animated.headline.js"></script>
   <script src="./assets/js/jquery.magnific-popup.js"></script>

   <!-- Date Picker -->
   <script src="./assets/js/gijgo.min.js"></script>
   <!-- Nice-select, sticky -->
   <script src="./assets/js/jquery.nice-select.min.js"></script>
   <script src="./assets/js/jquery.sticky.js"></script>

   <!-- counter , waypoint,Hover Direction -->
   <script src="./assets/js/jquery.counterup.min.js"></script>
   <script src="./assets/js/waypoints.min.js"></script>
   <script src="./assets/js/jquery.countdown.min.js"></script>
   <script src="./assets/js/hover-direction-snake.min.js"></script>

   <!-- contact js -->
   <script src="./assets/js/contact.js"></script>
   <script src="./assets/js/jquery.form.js"></script>
   <script src="./assets/js/jquery.validate.min.js"></script>
   <script src="./assets/js/mail-script.js"></script>
   <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

   <!-- Jquery Plugins, main Jquery -->
   <script src="./assets/js/plugins.js"></script>
   <script src="./assets/js/main.js"></script>
</form>
</body>

</html>