<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><i>Express</i> and <i>Multer</i> File Upload Example</h1>
<hr>

<h3>1. Single File Upload</h3>
<form action="/uploadFile" enctype="multipart/form-data" method="post">
  <input type="file" name="attachment">
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
<hr>

<h3>2. Single File Upload (Keep Original Filename)</h3>
<form action="/uploadFileWithOriginalFilename" enctype="multipart/form-data" method="post">
  <input type="file" name="attachment">
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
<hr>

<h3>3. Multiple File Upload</h3>
<form action="/uploadFiles" enctype="multipart/form-data" method="post">
  <input type="file" name="attachments" multiple>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
<hr>

<h3>4. Multiple File Upload (Keep Original Filename)</h3>
<form action="/uploadFilesWithOriginalFilename" enctype="multipart/form-data" method="post">
  <input type="file" name="attachments" multiple>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
</body>
</html>